
.container{
  max-width:1170px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  background-image: url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-04-09%2021.38.13.png);
  background-size: cover;
  text-align: center;
  height:100%;
  /* color:#808080; */
  color:rgba(0,128,255,1.0);
  opacity:0.7;
}

.top-wrapper h1{
  padding-top: 180px;
  font-size:70px;
}

.top-wrapper p{
  font-size:40px;
}

.contents-wrapper{
  background-color: #f7f7f7;
  padding:80px 0;
  text-align: center;
}


.message-wrapper{
  padding:80px 0;
}

.message-left{
  width:25%;
/*  float:left;*/

}

.message-right{
  width:75%;
/*  float:left;*/
}


.contact-wrapper{
  text-align: center;
  padding: 80px 0;
  background-color: #f7f7f7;
}





/*スマホの場合*/
@media(max-width:670px){
  .top-wrapper{
    width:100%;
  }

  .message-left{
    width:100%;
  }

  .message-right{
    width: 100%;
  }
}
