
.container{
  max-width:1170px;
  width:100%;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  background-image: url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-04-09%2021.38.13.png);
  background-size: cover;
  text-align: center;
  height:100%;
  /* color:#808080; */
  color:rgba(0,64,128,1.0);
  opacity:0.7;
}

.top-wrapper h1{
 /* padding-top: 180px; */
  padding-top:20;
  padding-bottom:150;
  font-size:70px;
  font-family:serif;
 /* background-color:rgba(192,192,192,0.5); */
}

.top-wrapper p{
  font-size:40px;
  background-color:rgba(255,255,255,0.5);
  font-family:serif;
}

.contents-wrapper{
  background-color: #f7f7f7;
  padding:80px 0;
  text-align: center;
  font-family:serif;
}


.message-wrapper{
  padding:80px 0;
}

li{
  list-style:none;
  float:left;
}

.message-left{
  width:25%;
  font-family:serif;
/*  float:left;*/

}

.message-right{
  width:75%;
  font-family:serif;
/*  width:75%; */
 /* float:right; */
}


.contact-wrapper{
  text-align: center;
  padding: 80px 0;
  background-color: #f7f7f7;
  font-family:serif;
}





/*スマホの場合*/
@media(max-width:1000px){
  .top-wrapper{
    width:100%;
    background-image:url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-04-11%200.35.56.png);
  }
  
  .top-wrapper h1{
    padding-top:70px;
    padding-bottom:550px;

  .message-left{
    width:100%;
  }

  .message-right{
    width: 100%;
  }
}
