
.container{
  max-width:1170px;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin:0 auto;
}

.top-wrapper{
  background-image: url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-04-09%2021.38.13.png);
  background-size: cover;
  text-align: center;
  height:100%;
  /* color:#808080; */
  color:rgba(0,64,128,1.0);
  opacity:0.7;
}

.top-wrapper h1{
 /* padding-top: 180px; */
  padding-top:20;
  padding-bottom:150;
  font-size:70px;
  font-family:serif;
 /* background-color:rgba(192,192,192,0.5); */
}

.top-wrapper p{
  font-size:40px;
  background-color:rgba(255,255,255,0.5);
  font-family:serif;
}

.contents-wrapper{
  background-color: #f7f7f7;
  padding:80px 0;
  text-align: center;
  font-family:serif;
}


.profile-wrapper{
  padding:80px 0;
  overflow:hidden;
  font-family:serif;
  flex-wrap:wrap; 
}

.profile-wrapper h1{
  text-align:center;
}

.profile{
  width:50%;
  float:left;
  text-align:center;
}

.y{
  width:323px;
  height:474px;
}

.k{
  width:292px;
  height:463px;
}

.m{
  width:330.4px;
  height:358.4px;
}

.contact-wrapper{
  text-align: center;
  padding: 80px 0;
  background-color: #f7f7f7;
  font-family:serif;
}


.btn{
  padding:8px 24px;
  dispaly:inline-block;
  opacity:0.8;
  border-radius:4px;
}

.btn:hover{
  opacity:1;
}

.twitter{
  background-color:#55acee;  
  margin-right:10px;  
}

.instagram{
 /* background-color:#2e6ca5; */
}

.note{
/*  background-color:#239b76;  */
}

.btn-wrapper{
  margin: 30px 0;
}

.fa{
  margin-right:5px;
}


.surport-wrapper{
  text-align:center;
  font-family:serif;
}

li{
  list-style:none;
}



/*スマホの場合*/
@media(max-width:1000px){
  .top-wrapper{
    width:100%;
    background-image:url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-04-11%200.35.56.png);
  }
  
  .top-wrapper h1{
    padding-top:70px;
    padding-bottom:550px;
  }
  
  .profile{
    width:100%;
    text-align:center;
  }
}
